
#main{
    
}

.tab-content{
    float: right;
}

.clear{clear: both;}

.sortable { list-style-type: none; margin: 0; padding: 0;  }

.label-info{
    padding: 6px 0;
}

.sortable li {
    position: relative;
    width: 770px;
    background: none;
    height: 33px;
    margin: -1px 5px 0px 0px;
    border: none;
    padding-left:3px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
.sortable li:first-child{
    margin-top: 0;
}

.affix1{
 position: fixed;
    //top: 50px;
}
.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 170px;
}
.affix-top {
    position: absolute;
    top: 50px;
    bottom: auto;
}

.listTask{
    padding-top: 5px;
    padding-bottom: 10px;    
    width: 776px;
    margin-left: 20px;
    overflow:hidden;
    height:auto;
}
.listTask h3 {
    padding-left: 10px;
}  
.listTask .day {
    display: block;
}
#addDay{
    min-width: 164px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 15px;
} 




.s4{
    padding: 0 5px 5px 5px;
    line-height: 5px;
    margin: 8px;
    background-color: #EEE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #E4B63A;
}
.s4:hover{
    background-color: silver;
    cursor: pointer;
}
.s5{
    margin-top: 28px;
    min-width: 165px;
}

.s4:hover .caret{
    border-top-color: #08C;
    border-bottom-color: #08C;
}

div.well{
    padding: 0px;
    padding-left: 3px;
    background-color: inherit;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
}
.createTask + .add-on:hover{
    cursor: help;
}
.createTaskButton{
    vertical-align: top;
}
.filter{
    float: left;
    width: 400px;
    margin-bottom: 10px;
}
.filter a {
    text-decoration: underline;
}
.filter a.active {
    color: black;
    text-decoration:none;
    border-bottom: 1px dashed;
}
.days{
    float:right;
}   
.ratingDay{
   display: inline-block;
   margin-right: 10px;
   
}
.ratingDay input[type="checkbox"],
.to-archive input[type="checkbox"] {
   margin-left: 0;
   margin-right: 5px;
   margin-top: 2px; 
}
.days a{
    vertical-align: top;
    text-decoration: none;
    border-bottom: 1px dashed;
}
.margin-bottom10{ margin-bottom: 10px;}


.past {
    font-weight: normal;
    font-style: italic;
}
.future{
    font-weight: normal;
    
}
.delete-all {
    font-size: 14px;
}
.reload{
    display: inline-block;
    float: right;
    margin: 6px 5px 4px 0;
    width: 19px;
    height: 19px;
}
.print{
    display: inline-block;
    float: right;
    margin: 7px 7px 4px 0;
}
.print:hover, .help:hover, .reload:hover{
    cursor: pointer;
    opacity: 0.6;
}
.help{
    margin: 0px 3px 0 0;

}

.sortable li span { 
    vertical-align: middle;
    /*margin-right: 2px;*/ 
}

.editable{
    display: inline-block;
    width: 600px;
    text-align: left;
    font-family: arial, sans-serif;
    /*font-weight: bold;*/
    font-size: 100%;
    overflow:hidden;
    height:  33px !important;
    line-height: 36px;
    border: 0 !important;  
    /*margin: 0 !important;*/
    margin-left: 5px;
    padding: 0 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.editable:hover{cursor: text;}

.editable form {
    margin: 0;
    padding: 0;
    color: blue;
}
.editable input{
    margin-left: 0px;
    margin-bottom: 2px!important;
    height: 26px !important;
    width: 600px !important;
    border: none!important;
    outline: none;
    background-color: #DFFFE6;
}
.editable input:focus{
    outline: none;
}

.complete {
    color: black !important;
    opacity:0.4 !important;
    filter:alpha(opacity=40) !important;
    background: transparent url('/img/line.png') 0 50% repeat-x !important;
}
.comment-task-icon{
    min-width: 14px;
    display: inline-block;
}
.important {
    color: red ;
    font-weight: bold !important;
}

.time{
    display: inline-block;
    width: 30px;
}
.timeEnd{
    display: none;
}
.hover a{
    background-color: silver!important;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.tab2{
    color: red;
}
.addDay{
    color: green;
    margin-bottom: 2px!important;
}
.addDay button{
    border: none !important;
    color: #08C !important;
}

.addDay:hover{
    cursor: pointer;
    color: red;
}

/*.icon-move:hover{cursor: move}*/

.ui-state-highlight { background: #DEECBB !important; }
.ui-state-highlight-cp { background: #D8E3FC !important; }
.close:hover{
    opacity:1;
    filter:alpha(opacity=100);
}
#eDate{
    margin-right: 10px;
    width: 80px;
}
#eTime, #eTimeEnd{
    margin-right: 5px;
    margin-left: 5px;
    width: 50px;
}

.day{
    margin-top: 4px;
}
.dayDate{
    text-decoration: underline;
}
.dayDate:hover{
    cursor: pointer;
    color: silver;
    
}
#completed li{
    color: black;
    width: 770px;
    background: none;
    height: 26px;
    margin: -1px 5px 0px 5px;
    border: none;
    padding-left: 5px;
    padding-top: 6px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
#completed .important{
    color: red !important;
    font-weight: bold !important;
}
.delete-wr{
    position: relative;
    
}
.inline-confirmation-block{
    position: absolute;
    top: 0px;
    right: 5px;
}

/*modal window*/
#editTask{
    width: 600px;
}

#editTask .form-horizontal .controls {
    margin-left: 97px;
}

#editTask .form-horizontal .control-label {
    width: 80px;
}
#editTask .priority{
    
}

.emptyList{
    font-size: 14px;
    margin: 40px 10px;
    padding: 20px 10px;
}
.editTask, .deleteTask{
    padding: 5px;   
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}
.move {
    padding: 5px;   
    cursor: move;
}
.cp{
    cursor: crosshair;
}
.inline-confirmation-confirm, .inline-confirmation-cancel{
    cursor: pointer;
}
.inline-confirmation-block{
    /*vertical-align:middle !important;*/
    margin-bottom: 10px;
}
.title{
    padding-left: 20px;
}
.print_brand{
    display: none;
}
.hide1 {
    display: none!important;
}
#eCommentDay{
    margin: 0;
    width: 510px;
}
.commentTask{
    display: none;
}
.delete_all{
    margin-right: 20px;
    margin-top: 2px;
}


.daysButton .active a{
    background-color: white;
    background-image: none;
    color: black;
    font-weight: bold;
}
.weekday{
    text-transform:capitalize;
}
.drop .btn-group{
    display: inline;
}
.tag-date{
    position: absolute;
    right: 90px;
    top: 10px;
}

.tag-date:hover, .tags-list:hover{
    cursor: pointer;
    color: #C0EEF1;
}
.tags-list:hover{
    color: rgb(232, 239, 243);
    background-color: rgb(120, 144, 160);
}
.lists-ul{
    margin-top: 15px;
}
.lists-ul li{
    list-style: none;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tags-list{
    position: relative;
    margin-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    margin-right: 10px;
}
.tags-list:hover .close-tag{
    opacity: 0.5;
    filter: alpha(opacity=0.5);
}
.close-tag{
    margin-right: 2px;
    margin-left: 5px;
    float: right;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0;
    filter: alpha(opacity=0);
}
.badge-close{
    font-size: 15px;
    position: absolute;
    top: -8px;
    left: -10px;
    background-color: #b94a48;
    padding: 0px 3px;
    
}
.tags-list:hover .close-tag:hover{
    opacity: 0.8;
    filter: alpha(opacity=0.8);
}

.badge-tag{
    background-color: #f89406;
    position: absolute;
    right: -9px;
    top: -10px;
    padding-left: 6px;
    padding-right: 7px;
}

.done-continued{
    margin-left: 100px;
}
#eComment, #eCommentDay{
    resize: none;
    resize: vertical; 
}

.form-repeat{
    margin-left: 30px;
}

.form-repeat td{
    vertical-align: baseline;
}
.form-repeat td.label-td{
    text-align: right;
}

.form-repeat input {
    margin-bottom: 0;
}
.form-repeat .week label{
    display: inline-block;
}
.form-repeat .week input {
    margin-bottom: 5px;
}

.listTask .icon-pencil, .icon-move, .icon-file, .icon-trash{
    opacity: 0.2;
}
.listTask .icon-pencil:hover, .icon-move:hover, .icon-file:hover, .icon-trash:hover{
    opacity: 1;
}
.t-del{
    opacity: 1;
    margin-top: -1px;
    padding-left: 1px;
    margin-left: -1px;
    background-color: #b94a48;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ui-datepicker, .ui-timepicker-container{ z-index: 9999 !important;}

.lists-archive{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.lists-title{
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
.dthl{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */

    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;  
}
.see-more{
    padding: 20px 0;
    display: none;

}

.btn-see-more{
    background-image:none;
}
.to-archive{
    display: inline-block;
    margin-right: 10px;
}
.label-tag {
    background-color: #5bc0de;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 85%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.lists-archive-ul li {
list-style: none;
float: left;
margin-right: 5px;
margin-bottom: 5px;
}